<%= render "layouts/search_form" %>
<%= stylesheet_link_tag "items", :media => "all" %>

<% if @item.present? %>
  <% @item.each do |item| %>
        <h2><%= item.word %></h2>
      <% if current_user.present? %>
        <% if current_user.favorited_by?(item.id) %>
            <%= button_to '登録解除', item_favorites_path(item), method: :delete %>
        <% else %>
            <%= button_to '単語登録', item_favorites_path(item) %>
        <% end %>
      <% end %>
    <p><%= simple_format(item.mean.split("/").join("\n")) %></p>
  <% end %>    
  <%= paginate @item %>
<% end %>

