<%= link_to 'ゲーム', root_path %>
<h1>ワード検索</h1>
<%= search_form_for @q, url: wordSearch_items_path do |f| %>
  <%= f.label :word_eq, 'ワード' %>
  <%= f.search_field :word_eq,required: true  %>
  <br>
  <%= f.submit '検索' %>
<% end %>