<h3>
  <%= link_to_unless_current 'トップ', root_path, data: {"turbolinks" => false} %>
  <% if user_signed_in? %> 
    <%= link_to_unless_current "マイページ", user_path(current_user), data: {"turbolinks" => false} %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {"turbolinks" => false} %>
  <% else %>
    <%= link_to_unless_current "ログイン", new_user_session_path, class: 'post', data: {"turbolinks" => false} %>
    <%= link_to_unless_current "新規登録", new_user_registration_path, class: 'post', data: {"turbolinks" => false} %>
  <% end %>
</h3>

